#.gitignore
server/node_modules/
worker/node_modules/
client/node_modules/
original-fullspec-Dockerrun.aws.json
#_djh
.travis.yml-bk20190518at2329
docker-compose.yml-bk20190518at2330
Dockerrun.aws.json-bk20190518at2331
nginx
/.idea
